@import "variables";

.table {
  font-size: 12px;
  font-weight: normal;

  th,
  td {
    padding: 8px 0;
  }

  th {
    color: #707070;
    font-weight: normal;
  }
}

.right {
  text-align: right;
}
